@using ETICARET.WebUI.Extensions
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewData["Title"] - Üçüncübinyıl ETİCARET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/d739071501.js" crossorigin="anonymous"></script>
</head>
<body>
    <partial name="_navbar" />
    <div class="container pageContainer mb-5">
        @if (TempData["message"] != null)
        {
            <partial name="_resultMessage" model="@(TempData.Get<ResultModel>("message"))" />
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center py-3">
            &copy; 2024 - Üçüncübinyıl ETİCARET - Tüm hakları saklıdır.
        </div>
    </footer>

    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
